/* Make the navbar transparent */
.navbar {
    background-color: transparent;
    transition: background-color 0.3s;
}

/* White background for navbar after scrolling */
.navbar.scrolled {
    background-color: white !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Navbar text color */
.nav-link {
    color: white !important;
    /* White text by default */
    transition: color 0.3s;
}

/* Change navbar text color to custom blue on hover */
.nav-link:hover {
    color: rgb(20, 170, 216) !important;
    /* Apply custom blue color on hover */
}
.nav-link.active {
    color: rgb(20, 170, 216) !important;
    font-weight: bold;
}
